// Main content wrapper.

.content {
  position: relative;
  z-index: 2;
  max-width: 1100px;
  margin: 0 auto;
  padding: 60px 32px;
}

@media (max-width: $bp-mobile) {
  .content {
    padding: 36px 20px 32px;
  }
}
